<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta tipo="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta tipo="description" content="">
    <meta tipo="author" content="">

    <title>App relatorios</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menu
                </li>
                </a>
                <li>
                    <a href="#">Perfil</a>
                </li>
                <li>
                    <a href="#">Cadastro</a>
                </li>
                <li>
                    <a href="depesa1.html">Despesas</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu Lateral</a>
            </div>
        </div>
    </div>

    <div id="app">
        <div class="container">
            <h1 class="mt-3">{{ title }}</h1>
            <table class="mt-5 table" v-if="ralatorioTotal">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Empresa/IdRelatoria</th>
                        <th>Valor</th>
                        <th>dataCriacao</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="relatorio in relatorios">
                        <td>{{ relatorio.idRelatorio }}</td>
                        <td>{{ nomeEmpresa }}</td>
                        <td v-money="'R$'">{{ relatorio.valor }}</td>
                        <td>{{ relatorio.dataCriacao }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>+</td>
                        <td>Total</td>
                        <td v-money="'R$'">{{ calculateTotal(ralatorioTotal) }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script>
        Vue.directive('money', {
            inserted(el, binding) {
                const amount = parseFloat(el.innerHTML).toFixed(2)
                    .replace('.', ',')
                    .replace(/(\d)(?=(\d{3})+\,)/g, '$1.')
                el.innerHTML = `${binding.value} ${amount}`
            }
        })
        new Vue({
            el: '#app',
            data: {
                title: 'Home - Relatórios',
                relatorios: null
            },
            methods: {
                getRelatorio() {
                    fetch('/mock_data/relatorio.json')
                        .then(resp => resp.json())
                        .then(data => this.relatorios = data)
                },
                getEmpresa() {
                    fetch('/mock_data/empresa.json')
                        .then(resp => resp.json())
                        .then(data => this.empresas = data)
                },
                calculateTotal(relatorios) {
                    if (!relatorios) return 0
                    return relatorios.reduce((total, relatorio) => total + relatorio.value, 0)
                },
                nomeEmpresa() {
                    for (relatorio in relatorios)
                        for (empresa in empresas)
                            if (!empresa) return ""
                            else (empresa.idEmpresa == relatorio.idEmpresa)
                    return empresa.nomeEmpresa;
                }
            },
            computed: {
                ralatorioTotal() {
                    if (!this.relatorios) return null
                    const ralatorioTotal = this.relatorios.reduce((grouped, relatorio) => {
                        if (!grouped.hasOwnProperty(relatorio.idRelatorio)) {
                            grouped[relatorio.idRelatorio] = {
                                idRelatorio: relatorio.idRelatorio,
                                value: relatorio.valor
                            }
                            return grouped
                        }
                        grouped[relatorio.idRelatorio].value += relatorio.valor
                        return grouped
                    }, {})
                    return Object.values(ralatorioTotal)
                }
            },
            mounted() {
                this.getRelatorio(),
                    this.getEmpresa()
            }
        })
    </script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        })
    </script>

</body>

</html>